#barchart {
    margin: 0;
    padding:0 10px 0 0;
}
#barchart_header {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

#barchart_title {
    margin: 0;
    padding-left: 0.5em;
}

#barchart_menu {
    display: block;
    margin-left: auto;
    margin-right: 4px;
    height: auto;
}

#barchart_selected_parameter {
    padding: 0;
}

