#options {
    display: block;
    margin-left: auto;
    background-color: white;
}

#options > #student_direction {
    display: inline-flex;
    overflow: hidden;
}

#options > #selected_country {
    display: inline-flex;
}

#student_direction input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    border: 0;
    overflow: hidden;
}

#student_direction label {
    text-align: center;
    padding: 4px 8px;
    transition: all 0.1s ease-in-out;
    margin: 2px;

}

#student_direction label:hover {
    cursor: pointer;
}

#student_direction input:checked + label {
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: none;
}