#options {
    display: block;
    margin-left: auto;
    background-color: white;
}

#options > #student_direction {
    display: inline-flex;
    overflow: hidden;
}

#options > #selected_country {
    display: inline-flex;
}

#student_direction input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    border: 1px;
    overflow: hidden;
}

#student_direction label {
    text-align: center;
    padding: 4px 8px;
    transition: all 0.1s ease-in-out;
    margin: 2px;
    /*border: 1px solid rgb(147, 147, 147 );*/
    border-radius: 5px;
    font-size: 15px;
}

#student_direction label:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.23);
    transition: all 0.4s ease 0s;
}

#student_direction input:checked + label {
    background-color: rgb(97, 165, 238 );
    box-shadow: none;
    border: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}