.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.g_main {
    cursor:pointer;
    pointer-events: all;
}

#parallel_set_title{
    margin-bottom: 2px;
    margin-left: 15px;
}

.d3-tip{
    line-height: 1;
    font-weight: bold;
    padding: 6px;
    background: white;
    color: black;
    border-radius: 2px;
    font-size: 8px;
}



