body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#header, #first-row, #second-row {
    display: flex;
    width: 100%;
}

#header > h1 {
    padding-left: 0.5em;
    float: left;
    margin: 0;
}

#student_direction, #selected_country {
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
}

#header {
    height: 5%; /* height is set by JS */
}

#first-row {
    height: 55%;
}

#second-row{
    height: 40%;
}

#map {
    width: 50%;
    fill: transparent;
}

#parallel_set {
    width: 50%;
 }


#barchart {
    fill: transparent;
    width: 50%;

}

#boxplot {
    background-color: yellow;
    width: 50%;
}

#selected_parameter {
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
    float: right;
}