body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#header, #first-row, #second-row {
    display: flex;
    width: 100%;
}

#header > h1 {
    padding-left: 0.5em;
    float: left;
    margin: 0;
}

#student_direction, #selected_country {
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
}

/* height is set by JS */
#header {
    height: 5%;
}

#first-row {
    height: 55%;
}

#second-row{
    height: 40%;
}

#map {
    width: 60%;
    fill: transparent;
}

#map.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

#map path:hover {
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 0.4;
    cursor: pointer;
}

#parallel_set {
    background-color: #005cbf;
    width: 40%;
 }

#barchart {
    fill: transparent;
    width: 50%;

}

#boxplot {
    background-color: yellow;
    width: 50%;
}

#selected_parameter {
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
    float: right;
}